.mastercard {
  $animation-time: 1s;

  &:before, &:after {
    content: " ";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: 2rem;
    right: 2.6rem;
    position: absolute;
  }

  &:before {
    background-color: #ce0e1d;
    animation: red $animation-time ease;
    animation-fill-mode: forwards;
  }

  &:after {
    background-color: #e39833;
    animation: yellow $animation-time ease;
    animation-fill-mode: forwards;
  }

  .name {
    &:before {
      content: "mastercard";
      font-family: "Poppins";
      font-size: 0.550rem;
      letter-spacing: 0.1em;
      color: #fff;
      opacity: .9;
      font-weight: 600;
      position: absolute;
      bottom: 1rem;
      right: 1.910rem;
      animation: text $animation-time ease;
      animation-fill-mode: forwards;
    }
  }

  @keyframes red {
    100% {transform: translateX(-10px);}
  }

  @keyframes yellow {
    100% {transform: translateX(10px);}
  }
  @keyframes text {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 0;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
}