.nubank {
  &.platinum {
      &:before {
        content: "platinum";
        font-family: "Share Tech Mono", monospace;
        color: rgba(255, 201, 255, 0.8);
        font-size: 0.625rem;
        letter-spacing: 0.3em;
        text-align: center;
        text-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.3);
        text-transform: uppercase;
        margin: 4.8rem 9rem;
        position: absolute;
      }
  }
}
