.card.itau-black {
  background: #1a191d;
}

.itau-black .flipped {
  background: linear-gradient(90deg, #353535, #111111);
}

.itau-black .bankLogo {
  width: 300px;
  transform: translate(calc(300px / 2), -20px);
}

.itau-black .number {
  left: 30px;
}

.itau-black .expiration {
  top: 160px;
  left: 138px;
}

.itau-black .expiration:before {
  content: "Valid";
  position: absolute;
  font-size: 0.425rem;
  top: 1px;
  left: -25px;
  color: #ffffff;
}

.itau-black .expiration:after {
  content: "Thru";
  position: absolute;
  font-size: 0.425rem;
  letter-spacing: 0.08rem;
  top: 7px;
  left: -25px;
  color: #ffffff;
}

.itau-black .holderName {
  top: 180px;
  left: 30px;
  font-size: 0.8em;
}
