.card.santander-black {
  background: #000000;
}

.santander-black .flipped {
  background: linear-gradient(90deg, #353535, #111111);
}

.santander-black .bankLogo {
  transform: translate(-33px, 15px);
}

.santander-black .chip:after {
  content: "unlimited";
  position: absolute;
  top: 12px;
  left: 70px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.santander-black .holderName {
  top: 190px;
  left: 35px;
}

.santander-black .number {
  left: 35px;
}

.santander-black .expiration {
  top: 166px;
  left: 156px;
}

.santander-black .expiration:before {
  content: "valid thru";
  position: absolute;
  top: -7px;
  left: -40px;
  width: 25px;
  font-size: 0.425rem;
  opacity: 0.8;
  text-transform: uppercase;
}
