/* TYPES */
@import "platinum.scss";
@import "gold.scss";

.card {
  &.nubank {
    --cart-text-color: #f6d3fd;

    background: linear-gradient(to bottom right, #833e85 0%, #521a5a 100%);

    &.flipped {
      background: linear-gradient(to bottom right, #833e85 0%, #1b021f 100%);
    }

    .figure {
      .logo {
        --widthLogo: 120px;
        width: var(--widthLogo);
        position: absolute;
        right: 50%;
        transform: translate(calc(var(--widthLogo) / 2), 15px);
      }
    }

    .chip {
      top: 29%;
      left: 8%;
    }

    .number {
      top: 53%;
      left: 8%;
    }

    .expiration {
      top: 160px;
      left: 150px;

      &:before {
        content: "valid thru";
        text-transform: uppercase;
        position: absolute;
        font-size: 7px;
        opacity: .3;
        top: -10px;
      }
    }

    .holderName {
      top: 190px;
      left: 30px;
    }
  }
}
